.head-item {
  padding-bottom: 15px;
}

.header-line {
  height: 2px;
  margin-top: 20px;
  background-color: #F7B617;
}

.search {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.redes {
  display: flex;
  justify-content: space-between;
}

.menu {
  background-color: #F7B617;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
}

.nav-mobile {
  padding-bottom: 15px;
  border-bottom: 2px solid #F7B617;
  margin: 10px auto 20px;
}

.nav-mobile div {
  padding: 0;
}

.nav-mobile div:nth-child(2) {
  text-align: right;
  margin-top: 5px;
}

.popular {
  margin: 15px 3px;
  display: flex;
}

.titulo {
  float: right;
  margin-left: 15px;
  font-size: 16px;
}

.foto {
  float: left;
}

.linea {
  width: 80px;
  height: 5px;
  background-color: #F7B617;
}

section {
  margin: 10px 0;
}

.cover__category {
  font-size: 20px;
  font-weight: bold;
}

.cover__line {
  width: 80px;
  height: 8px;
  background-color: #F7B617;
}

.cover__title {
  font-size: 36px;
  font-weight: bold;
  margin-top: 20px;
}

.cover__subtitle {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.cover__img {
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin-top: 15px;
}
